.home {
    text-align: center;
    padding: 100px 20px;
    background-color: white;
    color: black;
}

.home h1 {
    font-size: 50px;
    margin-bottom: 20px;
}

.home p {
    font-size: 18px;
    color: black;
}
